<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
    <div class="card bg-light mb-3" style="max-width: 40rem;">
            <div class=" card text-white bg-primary mb-3 card-header">Header</div>
            <div class="card-body">
                    <form #f="ngForm">
                            <div style="width:500px;padding-left:50px ;">
                                <div class="form-group">
                                        <label>
                                            Nom:
                                        </label>
                                        <input type="text" name="name" [(ngModel)]="nom" required class="form-control"/>
                                      </div>
                        <div class="form-group">
                            <label>
                                Prenom:
                            </label>
                            <input type="text" name="prenom" [(ngModel)]="pre" required class="form-control"/>
                        
                        </div>
                        <div>
                                <label>
                                    Email:
                                </label>
                                <input type="email" name="mail" [(ngModel)]="email" required class="form-control"/>
                            </div>
                        <div>
                            <label>
                                Code:
                            </label>
                            <input type="password" name="pass" [(ngModel)]="passw" required class="form-control"/>
                        </div>
                        <button [disabled]="f.invalid" class="btn btn-primary">Update</button>
                        </div>
                        </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
        
        </div>
        </div>
    </div>