<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
<form #f="ngForm">
        <div style="width:300px;padding-left:50px ;">
            <div class="form-group">
                    <label>
                       Rechercher compte
                    </label>
                    <input  type="text" name="name" [(ngModel)]="nom" required class="form-control"/><button (click)="check()" class="btn btn-primary">OK</button>
                    
                </div>
                  
</div>
</form>
</div>
<div class="col-lg-6">
<div *ngIf="x==true">
sqdsq       
</div>
</div>
</div>
</div>