<div style="height:600px" class="bg">
<div>
    <h1 style="color:#000;text-align:center;font-size:90px" >BienVenue</h1>
</div>
<div class="container-fluid padding">
        <div class="row padding">
            <div style="padding-left:110px ;" class="col-md-12 col-lg-6">
                    <div class="card" style="width: 18rem;">
                            <img src="../assets/bank.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Compte</h5>
                              <p class="card-text">Create your own account.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
            </div>
                <div style="padding-left:250px ;" class="col-lg-6">
               
                        <div class="card" style="width: 18rem;">
                                <img src="../assets/dab1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Operations</h5>
                                  <p class="card-text">verssement et retrait.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
            </div>
           
        </div>
    <hr class="my-4">
    </div>
</div>