.bg{
     
    background: url('src/assets/back1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  
}

.text{
    color:#000;
}